<!-- intentionally angry rggrgrgrlshf ihhARGHHHHH (empty by Omar) -->

<%#= link_to "Log In", "/welcome/login" %>
<h1>LiberList</h1>

<%= link_to "Log In", "/users" %>
<%= link_to "Sign Up", "/welcome/new" %>