/*  GRID OF TWO   ============================================================================= */
/*body {
	background-color: #cfbd00;
}*/


#headcontainer {
	border: solid black 1px;
}

#current_userlinks {
	float: right;
	border: solid black 1px;
}

.span_3_of_3 {
	width: 100%;
  border: solid black 1px;
}

/* if you change the widths, do so equally: add the exact amount
   you subtract from one column to the other column */
.span_2_of_3 {
	width: 66.1%;
	border: solid black 1px;
	float: left;
}
.span_1_of_3 {
	width: 32.2%;
  border: solid black 1px;
  float: left;
  margin-left: 15px;
}
.personal_piece {
	width: 150px;
	height: 275px;
	border: solid black 1px;
  float: left;
}
.search_field_label {
	font-size: 20px;
}
.search_field_form {
	width: 200px;
	height: 20px;
}
.check_box_label {
	font-size: 18px;
}
.search_submit {
	width: 200px;
}
.result{
min-height: 200px;
border: solid green 1px;
}
.show_piece {
	min-height: 500px;
}
footer {
	position: absolute; 
	bottom: 0;
}
img{
	float: left;
	max-height: 192px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
  .span_1_of_3 {
    width: 100%;
  }
}

